.rent {
    .add-new-property {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F3E8DE;
        top: 0px;
        left: 0px;
        margin-top: -20px;
        margin-left: -20px;
        padding: 5px 25px;
        width: calc(100% + 40px);
    }
    .btn-orange {
        color: white;
        background-color: #F77D1A;
        text-transform: initial;
        width: 180px;
        font-weight: 500;
        border-radius: 5px;
    }
    .md-field {
        margin-bottom: 10px;
        padding-top: 10px;
        &:before {
            height: 0;
        }
        &:after {
            height: 0
        }
        .md-custom-input-2 {
            padding: 18px 13px;
            color: "#6C6C73";
            background-color: transparent;
            border-radius: 3px;
            width: 80px;
            max-width: 90px;
            input {
                font-size: 13px;
            }
            &.bold {
                font-weight: 600;
            }
            &::placeholder {
                font-size: 13px;
            }
        }
        .md-custom-input {
            // border: 1px solid white !important;
            padding: 20px 13px;
            color: "#6C6C73";
            background-color: white;
            border-radius: 3px;
            font-size: 13px;
            &.bold {
                font-weight: 600;
            }
            &::placeholder {
                font-size: 13px;
            }
        }
        .custom-suffix {
            padding: 8px 5px 8px 14px;
            background: white;
        }
        &.select {
            .md-custom-input {
                padding: 4px 13px;
                input {
                    font-size: 13px;
                }
                 ::placeholder {
                    font-size: 13px !important;
                }
                .md-icon {
                    margin: 0;
                }
            }
        }
    }
    .padding {
        padding: 0 15px;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .md-table-content {
        background-color: white !important;
        padding: 0;
    }
    table {
        background-color: white !important;
        border: none;
    }
    tbody .md-table-row td {
        border: none;
    }
    th {
        font-weight: 700;
    }
    .md-table.md-card.md-theme-default {
        padding: 0;
        overflow: scroll;
    }
    .red-required {
        color: red;
    }
}

.add-modal.md-dialog {
    .md-dialog-container {
        max-width: 850px;
        .md-dialog-title {
            display: flex;
            justify-content: space-between;
            .close-icon {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .modal-content {
            width: 100%;
            height: 450px;
            overflow-y: scroll;
            margin-bottom: 30px;
            padding: 25px 40px;
            margin: 10px 0 30px 0;
            @media (max-width: 800px) {
                width: 500px;
            }
            .md-field {
                margin-bottom: 10px;
                padding-top: 0;
                &:before {
                    height: 0;
                }
                &:after {
                    height: 0;
                }
                &.select {
                    padding-bottom: 10px !important;
                    .md-custom-select {
                        padding: 5px 13px;
                        border: 1px solid #cdcccb !important;
                        color: "#6C6C73";
                        border-radius: 3px;
                        input {
                            border: none;
                        }
                        i {
                            display: none;
                        }
                    }
                }
                &.select-transparent {
                    padding-bottom: 10px !important;
                    position: relative;
                    .md-custom-select {
                        padding: 5px 13px;
                        border: 1px solid #cdcccb !important;
                        color: "#6C6C73";
                        border-radius: 3px;
                        input {
                            border: none;
                            height: 26px;
                            //text-align: center;
                            font-size: 13px;
                        }
                    }
                    .find {
                        position: absolute;
                        top: 1px;
                        right: 2px;
                        background: #ffffff;
                        padding: 11px 15px;
                        border-left: 1px solid #cecbcb;
                        color: #f77d1a;
                        text-transform: uppercase;
                        font-size: 13px;
                        height: 35px;
                    }
                }
                .md-custom-input {
                    padding: 18px 13px;
                    color: "#6C6C73";
                    background-color: white;
                    border-radius: 3px;
                    font-size: 13px;
                    //text-align: center;
                }
                input {
                    border: 1px solid #c2c1c0;
                    //text-align: center;
                }
            }
        }
        .md-dialog-actions {
            margin: 0 auto;
            margin-bottom: 40px;
            .property-button {
                height: 100%;
                background: #f77d1a !important;
                color: white !important;
                text-transform: none;
                font-size: 16px;
                padding: 13px 40px;
                border-radius: 5px;
            }
        }
    }
}